<!DOCTYPE html>
<html>
	<head>
		<title>Multus</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/multus.css" rel="stylesheet"/>
		<link href="css/w3.css" rel="stylesheet"/>

		<!-- Used for Bottom nav bar -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
  <body class="bg-color">
		<!-- Bottom navigation -->
		<div class="w3-bottom" id="myBottomnav">
			<ul class="nav nav-pills">
	      		<li class="bottomNav" ><a href="/"><span class="glyphicon glyphicon-tasks"></span> </br><span >Dashboard</span></a></li>
	      		<li class="bottomNav"><a href="profile"><span class="glyphicon glyphicon-user"></span> </br><span>Profile </span></a></li>
		      	<li class="active bottomNav"><a href="history"><span class="glyphicon glyphicon-calendar"></span> </br><span>Past Tasks </span></a></li>
				<li class="bottomNav"><a href="login"><span class="glyphicon glyphicon-log-out"></span> </br><span>Logout </span></a></li>
	   		</ul>
		</div>

		<!-- Top menu -->
		<div class="w3-top">
		  <div class="w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">

	    	<div class="w3-right" style="position:absolute; right:0; margin-right:40px;">
			  	<img src= "/images/info.png" onclick="location.href='help'" class="w3-btn-floating info-button" style ="background-color: #4990E2">
			</div>

		    <div class="w3-center top-center" style="margin-left:20px;">&nbsp; Past Tasks</div>
		  </div>
		</div>

		<br/> <br/> <br/> <br/>

		<div>		
			<div class="d-inline-block bg-warning text-center">
				{{#each categories}}
					{{#each tasks}}
						{{#if complete}}
						<div class="ibutton text-padding">
							<div class="friend ibutton-circle">
								<a href="/category/{{cid}}/task/{{tid}}" class="buttondeco"><span>{{tname}}</span></a>
								
							</div><br/><br/>
							<progress value={{progress}} max="100"></progress>
						</div>
						{{/if}}
					{{/each}}
				{{/each}}
			</div>
		</div>

<!--
		<div class="w3-container w3-center w3-padding-128">
			<form>
				Search Tags:
				<input type="text" name="tag">
				<input type="submit" value="Submit">
			</form><br>
		</div>

		<div class="w3-container w3-center">
			<h4>Sort By:</h4>
			<select>
		        <option value="recent">Most Recent</option>
    		    <option value="recent">Least Recent</option>
        		<option value="alphabet">Alphabetical</option>
      		</select>
      	</div>
-->

		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/multus.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>