<!doctype html>

<html>
	<head>
		<title>Multus</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/multus.css" rel="stylesheet"/>
		<link href="css/w3.css" rel="stylesheet"/>

		<!-- Used for Bottom nav bar -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<script>
		function startTime() {
		    var today = new Date();
		    var h = today.getHours();
		    var m = today.getMinutes();
		    var s = today.getSeconds();
		    m = checkTime(m);
		    s = checkTime(s);
		    document.getElementById('txt').innerHTML =
		    h + ":" + m + ":" + s;
		    var t = setTimeout(startTime, 500);
		}
		function checkTime(i) {
		    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
		    return i;
		}
	</script>


	<body class="bg-color" onload="startTime()">
		<!-- Bottom navigation -->
		<div class="w3-bottom">
   			<ul class="nav nav-pills" id="myBottomnav">
	      		<ul class="nav nav-pills">
	      			<li class="active bottomNav" ><a href="/"><span class="glyphicon glyphicon-tasks"></span> </br><span >Dashboard</span></a></li>
	      			<li class="bottomNav"><a href="profile"><span class="glyphicon glyphicon-user"></span> </br><span>Profile </span></a></li>
		      		<li class="bottomNav"><a href="history"><span class="glyphicon glyphicon-calendar"></span> </br><span>Past Tasks </span></a></li>
					<li class="bottomNav"><a href="login"><span class="glyphicon glyphicon-log-out"></span> </br><span>Logout </span></a></li>
	   			</ul>
	   		</ul>
	  	</div>

		<!-- Top menu -->
		<div class="w3-top">
		  <div class="w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">

	    	<div class="w3-right" style="position:absolute; right:0; margin-right:40px;">
			  	<img src= "/images/info.png" onclick="location.href='help'" class="w3-btn-floating info-button" style ="background-color: #4990E2">
			</div>

		    <div class="w3-center" style="margin-left:20px;" id="thisdate"></div>
		    <script>
		        var monthNames = ["January", "February", "March", "April", "May", "June",
		          "July", "August", "September", "October", "November", "December"
		        ];
		        n =  new Date();
		        y = n.getFullYear();
		        m = n.getMonth();
		        d = n.getDate();
		        document.getElementById("thisdate").innerHTML = monthNames[m] + " " + d + ", " + y;
		    </script>
		  </div>
		</div>
<!-- class="btn" btn-primary btn-lg btn-block d-inline-block bg-warning-->
		<br/> <br/> <br/> <br/>

		<div>	
			<div class="w3-center" id="txt"></div> </br>
			<div class=" text-center" >
				
				{{#each categories}}
					{{#unless complete}}
					<div class="ibutton text-padding">
						<div class="friend ibutton-circle" >
							<a class= "buttondeco" href="category/{{cid}}" ><span>{{cname}}</span></a>
						</div><br/><br/>
							<span style="text-align:center;"><progress id="progress2" value={{progress}} max="100"></progress></span>
					</div>
					{{/unless}}
				{{/each}}
			</div>
			<br/>
			
			<div class="w3-center">
				<form id="addCategoryForm" role="form" method="get" action="/addCategory">
          <div class="randomcontainer input-group">
            <input type="text" class="form-control" name="cname" placeholder="Enter Category Name" required>
			      <input type="number" name="progress" min="0" max="100" value="0" hidden>
			      <input type="text" name="complete" value="" hidden>
            <span class="input-group-btn" style="max-width: 300px">
              <button type="submit" class="btn category-button">
                <span class="glyphicon glyphicon-plus"></span> Quick Add
              </button>
            </span>  
          </div>
        </form>
			</div>
			
		</div>

		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/multus.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>
