<!doctype html>

<html>
	<head>
		<title>Multus</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/multus.css" rel="stylesheet"/>
		<link href="css/w3.css" rel="stylesheet"/>
	</head>

	<script>
		function startTime() {
		    var today = new Date();
		    var h = today.getHours();
		    var m = today.getMinutes();
		    var s = today.getSeconds();
		    m = checkTime(m);
		    s = checkTime(s);
		    document.getElementById('txt').innerHTML =
		    h + ":" + m + ":" + s;
		    var t = setTimeout(startTime, 500);
		}
		function checkTime(i) {
		    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
		    return i;
		}
	</script>


	<body class="bg-color" onload="startTime()">
		<!-- Sidenav (hidden by default) -->
		<nav class="w3-sidenav w3-card-2 w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidenav">
		  <a href="javascript:void(0)" onclick="w3_close()"
		  class="w3-closenav">Close Menu</a>
		  <a href="/" onclick="w3_close()">Tasks</a>
		  <a href="profile" onclick="w3_close()">Profile</a>
		  <a href="history" onclick="w3_close()">History</a>
		  <a href="login" onclick="w3_close()">Logout</a>
		</nav>
		<!-- Top menu -->
		<div class="w3-top">
		  <div class="w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
		    <div class="w3-opennav w3-left w3-hover-text-grey" onclick="w3_open()">&#9776</div>
		    
		    <div class="w3-right">
				  <img src= "/images/info.png" onclick="location.href='help'" class="w3-btn-floating" style ="background-color: #4990E2">
			  </div>
		    <div class="w3-center" id="thisdate"></div>
		    <script>
		        var monthNames = ["January", "February", "March", "April", "May", "June",
		          "July", "August", "September", "October", "November", "December"
		        ];
		        n =  new Date();
		        y = n.getFullYear();
		        m = n.getMonth();
		        d = n.getDate();
		        document.getElementById("thisdate").innerHTML = monthNames[m] + " " + d + ", " + y;
		    </script>
		  </div>
		</div>

		<br/> <br/> <br/> <br/>

		<div class="container">	
			<div class="w3-center" id="txt"></div> </br>
			<div class="d-inline-block bg-warning text-center">
				
				{{#each categories}}
					{{#unless complete}}
						<div class="friend">
							<a href="category/{{cid}}" class="btn btn-primary btn-lg btn-block">{{cname}}</a>
							<progress value={{progress}} max="100"></progress>
						</div>
					{{/unless}}
				{{/each}}
			</div>
			<br/>
			
			<div class="w3-center">
				<form id="addCategoryForm" role="form" method="get" action="/addCategory">
          <div class="randomcontainer input-group">
            <input type="text" class="form-control" name="cname" placeholder="Enter Category Name">
			      <input type="number" name="progress" min="0" max="100" value="0" hidden>
			      <input type="text" name="complete" value="" hidden>
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus"></span> Add Category 
              </button>
            </span>  
          </div>
        </form>
			</div>
			
		</div>

		<script>
			// Script to open and close sidenav
			function w3_open() {
			    document.getElementById("mySidenav").style.display = "block";
			}
			 
			function w3_close() {
			    document.getElementById("mySidenav").style.display = "none";
			}
		</script>

		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/multus.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>
