<!doctype html>

<html>
	<head>
		<title>Multus</title>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

		<link href="css/bootstrap.css" rel="stylesheet">
		<link href="css/bootstrap-theme.css" rel="stylesheet">
		<link href="css/multus.css" rel="stylesheet"/>
		<link href="css/w3.css" rel="stylesheet"/>
	</head>

	<body>
		<!-- Sidenav (hidden by default) -->
		<nav class="w3-sidenav w3-card-2 w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidenav">
		  <a href="javascript:void(0)" onclick="w3_close()"
		  class="w3-closenav">Close Menu</a>
		  <a href="./index.html" onclick="w3_close()">Tasks</a>
		  <a href="./challenges.html" onclick="w3_close()">Challenges</a>
		  <a href="./profile.html" onclick="w3_close()">Profile</a>
		  <a href="./history.html" onclick="w3_close()">History</a>
		  <a href="login" onclick="w3_close()">Logout</a>
		</nav>
		<!-- Top menu -->
		<div class="w3-top">
		  <div class="w3-white w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
		    <div class="w3-opennav w3-left w3-hover-text-grey" onclick="w3_open()">&#9776</div>
		    <div class="w3-right">
				  <button type="button" onclick="location.href='./help.html'" class="w3-btn-floating w3-teal">?</button>
			  </div>
		    <div class="w3-center" id="thisdate"></div>
		    <script>
		        var monthNames = ["January", "February", "March", "April", "May", "June",
		          "July", "August", "September", "October", "November", "December"
		        ];
		        n =  new Date();
		        y = n.getFullYear();
		        m = n.getMonth();
		        d = n.getDate();
		        document.getElementById("thisdate").innerHTML = monthNames[m] + " " + d + ", " + y;
		    </script>
		  </div>
		</div>

		<br/>

		<div class="container">
			<h1>Multus</h1>			
			<div class="d-inline-block bg-warning text-center">
				{{#each tasks}}
					<div class="friend">
						<a href="task/{{name}}" class="btn btn-primary btn-lg btn-block">{{name}}</a>
						<progress value={{progress}} max="100"></progress>
					</div>
				{{/each}}
			</div>
			<br/>
			
			<!--
			
			<form id="addFriendForm" role="form" method="get" action="/add">
				<h3>Add a task</h3>
			    <div class="form-group">
			      <label for="nam2e">Name:</label>
			      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
			    </div>
			    <div class="form-group">
			      <label for="description">Description:</label>
			      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
			    </div>
			    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
			</form>
			
			<form id="addFriendForm" role="form" method="get" action="/add">
				<input type="submit" id="submitBtn" class="btn btn-default" value="Add the friend"></input>
				<h3>Subtask</h3>
	      <input type="text" class="subtask" name="subtask1" value="Multiple Choice #2" style="text-align:center;"> <br/> <br/>
	      <input type="text" class="subtask" name="subtask2" style="text-align:center;"> <br /> <br/>
	      <input type="text" class="subtask" name="subtask3" style="text-align:center;"> <br /> <br/>
	      <h4>Difficulty</h4>
	      <input type="radio" class="w3-radio" name="difficulty" value="1">1
	      <input type="radio" class="w3-radio" name="difficulty" value="2">2
	      <input type="radio" class="w3-radio" name="difficulty" value="3">3
	      <input type="radio" class="w3-radio" name="difficulty" value="4">4
	      <input type="radio" class="w3-radio" name="difficulty" value="5">5 <br/> <br/>
	      <h4>Duration</h4>
	      <select name="duration">
	        <option value="1hr">1 hour</option>
	        <option value="1hr">2 hours</option>
	        <option value="1hr">3 hours</option>
	        <option value="1hr">4 hours</option>
	        <option value="1hr">5 hours</option>
	        <option value="1hr">6 hours</option>
	      </select> <br/> <br/>
	      <h4>Reminders</h4>
	      &nbsp &nbsp &nbsp &nbsp Start By:
	      <input type="datetime-local" name="starttime"> <br/>
	      Remind 30min before<input class="w3-check" type="checkbox" name="startreminder" value="Bike"> <br/>
	      Remind 2hour before<input class="w3-check" type="checkbox" name="startreminder" value="Bike"> <br/> <br/>
	      Complete By:
	      <input type="datetime-local" name="endtime"> <br/>
	      Remind 30min before<input class="w3-check" type="checkbox" name="endreminder" value="Bike"> <br/>
	      Remind 2hour before<input class="w3-check" type="checkbox" name="endreminder" value="Bike"> <br/> <br/>
	    </form>
			-->
			
			<div class="w3-center">
				<button type="button" onclick="location.href='newTask'" class="w3-btn-floating w3-teal">+</button>
			</div>
			
		</div>

		<script>
			// Script to open and close sidenav
			function w3_open() {
			    document.getElementById("mySidenav").style.display = "block";
			}
			 
			function w3_close() {
			    document.getElementById("mySidenav").style.display = "none";
			}
		</script>

		<script src="js/jquery-1.11.0.js"></script>
		<script src="js/multus.js"></script>
		<script src="js/bootstrap.js"></script>
	</body>
</html>
