<!DOCTYPE html>
<html>
  <head> 
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Multus</title> 
  </head>
  <form>
    <div class="imgcontainer">
      <h1>Login</h1>
    </div>

    <div class="upasscontainer">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" id="uname" required>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" id="pswd" required>
    </div>
    
    <div class="logincontainer">
      <button type="submit" formaction="/">Login</button>
      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="container">
      <span class="psw"> <a href="./login.html">Forgot password?</a></span>
    </div>
  </form>
</html>