<!DOCTYPE html>
<html>
  <head>
    <title>Multus</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/multus.css" rel="stylesheet"/>
    <link href="css/w3.css" rel="stylesheet"/>
  </head>

<body class="bg-color">
  <!-- <div class="w3-top">
      <div class="w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
       <div class="w3-right">
            <img src= "/images/info.png" onclick="location.href='help'" class="w3-btn-floating" style ="background-color: #4990E2">
        </div>
        <div class="w3-center" id="thisdate">&nbsp; Login</div>
      </div>
  </div> -->
  <br/> <br/> <br/> <br/> 

  <div class="container"> <br><br><br>
      <div class="w3-center">
        <img src= "/images/logo.png" style ="background-color: #FAFAFA;" id="logo-title"> <br><br><br><br><br><br><br>
      </div>
    <form class="form-signin" algin="center">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <br/>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
      </div>
      <!-- //btn-lg btn-primary btn-block// -->
      {{#if side}}
        <button class="btn btn-block w3-button" type="submit" type="submit" id="login-button" formaction="/">Sign in</button>
      {{else}}
        <button class="btn bt-block w3-button" type="submit" type="submit" id="login-button" formaction="home_B">Sign in</button>
      {{/if}}
    </form>
  </div>
</body>


  <script type="text/javascript">
    function loginHelp() {
      alert("Please enter your email and password to sign in.");
    }
  </script>

</html>