<!DOCTYPE html>
<html>
  <head>
    <title>Multus</title> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/multus.css" rel="stylesheet"/>
    <link href="css/w3.css" rel="stylesheet"/>
  </head>
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-sidenav a {padding:20px}
</style>
<body>

<!-- Top menu -->
<form id="addTaskForm" role="form" method="get" action="/add">
  <div class="w3-top">
    <div class="w3-white w3-xlarge w3-padding-xlarge" style="max-width:1200px;margin:auto">
      <div class="w3-opennav w3-left w3-hover-text-grey" onclick="w3_open()">
        <h3><a href="/" style="text-decoration:none;">X</a></h3>
      </div>
      <div class="w3-right">
  		  <button type="submit" onclick="location.href='/'" class="w3-btn-floating-large w3-teal">Save</button>
  	  </div>
      <div class="w3-center">
        &nbsp &nbsp &nbsp
        <input type="text" name="name" value="Task" style="text-align:center;">
      </div>
    </div>
  </div>
    
  <!-- !PAGE CONTENT! -->
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
    <div class="w3-center">
      <h3>Subtask</h3>
      <input type="text" name="subtask1" class="subtask" style="text-align:center;"> <br/> <br/>
      <input type="text" name="subtask2"class="subtask" style="text-align:center;"> <br /> <br/>
      <input type="text" name="subtask3" class="subtask" style="text-align:center;"> <br /> <br/>
      <h4>Difficulty</h4>
      <input type="range" name="difficulty" min="1" max="5">
      <!--
      <input type="radio" name="difficulty" class="w3-radio" value="1">1
      <input type="radio" name="difficulty" class="w3-radio" value="2">2
      <input type="radio" name="difficulty" class="w3-radio" value="3">3
      <input type="radio" name="difficulty" class="w3-radio" value="3">4
      <input type="radio" name="difficulty" class="w3-radio" value="3">5 <br/> <br/>
      -->
      <h4>Duration</h4>
      <input type="number" name="duration" min="1" max="10"> hour(s)
      <!--
      <select>
        <option value="1hr">1 hour</option>
        <option value="1hr">2 hours</option>
        <option value="1hr">3 hours</option>
        <option value="1hr">4 hours</option>
        <option value="1hr">5 hours</option>
        <option value="1hr">6 hours</option>
      </select> <br/> <br/>
    -->
      <h4>Reminders</h4>
      &nbsp &nbsp &nbsp &nbsp Start By:
      <input type="datetime-local" name="bdaytime"> <br/>
      Remind 30min before<input class="w3-check" type="checkbox" name="vehicle" value="Bike"> <br/>
      Remind 2hour before<input class="w3-check" type="checkbox" name="vehicle" value="Bike"> <br/> <br/>
      Complete By:
      <input type="datetime-local" name="bdaytime"> <br/>
      Remind 30min before<input class="w3-check" type="checkbox" name="vehicle" value="Bike"> <br/>
      Remind 2hour before<input class="w3-check" type="checkbox" name="vehicle" value="Bike"> <br/> <br/>
      <input type="reset" value="Delete" class="w3-btn">
    </div>
  </div>


  <!-- End page content -->
  </div>

  <script>
  // Script to open and close sidenav
  function w3_open() {
      document.getElementById("mySidenav").style.display = "block";
  }
   
  function w3_close() {
      document.getElementById("mySidenav").style.display = "none";
  }
  </script>

  </body>
</html>
