/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('fonts/fonts/OpenSans-Light-webfont.eot');
    src: url('fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.login-page {
  background-color: #FAFAFA;
  font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#575757;
  font-size:18px;
  max-width: 800px;
}

.form-signin {
  width:300px;
  margin: 0 auto;
}

#login-button {
  background-color: #4990e2;
  font-family: "HelveticaNeue-CondensedBold","HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#FFFFFF;
  font-size:14px;
  max-width: 200px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;

}

#logo-title {
  max-width:50%;
  height:auto;
}


#delete-button {
  background-color: #8D8D8D;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#FFFFFF;
  font-size:14px;
  max-width: 200px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#save-button{
  background-color: #E05B68;
  font-family: "HelveticaNeue-CondensedBold", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#FFFFFF;
  font-size:14px;
  max-width: 200px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;

}

h1, h2, h3, h4, h5 {
	color: #575757;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.bg-color {
  background-color: #FAFAFA;
}


.w3-top {
  background-color: #4990E2;
}

.icon-color {
  background-color: #4990E2;
}

#txt {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575757;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#thisdate{ 
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*#cname { 
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #4990E2;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}
*/
.top-center{ 
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.category-button {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #4990e2;
  color: #FFFFFF;
  font-size:14px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.category-button:hover, .category-button:active {
  color:#ffffff;
}


#tasklink {
  background-color: #F7AD3A;
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size:14px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  margin-bottom: -20px;
}

.input-group {
  max-width:500px;
  height:auto;
  margin: 0 auto;
  padding:20px;
}

p {
  font-size: 20px;
}

/*Side nave bar css */
#mySidenav {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575757;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*bottom nav bar css */
#myBottomnav {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575757;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #ffffff;
  width:103%;
 
}

.bottomNav  {
  width: 24%;
  text-align: center;
  vertical-align: middle;
}



#text-design {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575757;
  font-style: normal;
  font-variant: normal;
  font-weight:normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#profile-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color:#FFFFFF;
  font-style: normal;
  font-variant: normal;
  font-weight:normal;
}

#profile-con{
  background-color: #8D8D8D;
  width: 300px;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
}

}

/*#profile-picture {
  max-width: 350px;
}*/

#category-design {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575757;
  font-size:24px;
  font-style: normal;
  font-variant: normal;
  letter-spacing: 2px;
}

/*trophy image size*/
#trophy {
  max-height: 60px;
  max-width: 60px;
  margin:0 10px 10px 10px;
}

/*trophy text*/
#trophy-text {
  max-width: 65px;
  color:#575757;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}


.anagram {
	width: 999999;
}

.friend {
	display: inline-block;

}

/*.ibutton {
  width:25%;
}*/

/*button css*/
.ibutton {
  max-width: 110px;
  max-height:110px;
  text-align:center;

  font-size: 16px;
  border-radius:100%;
  display:inline-block;
  color:#FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  font-weight:bold;
  letter-spacing: 2px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


  }

.ibutton-circle {
  width: 135px;
  height: 120px;
  padding-bottom:100%;
  border-radius:50%;
  border:14px solid #D2EDB7;
  overflow:hidden;
  background: #7ED321; 
  box-shadow: 0 0 3px gray;  
  line-height: 110px;
  margin-left: -10px;
 


}

.ibutton-circle:hover {
  background:#E05B68;
}

span {
  line-height: normal;
  display:inline-block;
  vertical-align: middle;
}

.buttondeco:hover, .buttondeco:active {
  color:#ffffff;
}

.text-padding {
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

#help-design {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
}

.help-text {
  font-size: 14px;
}

#info-button:hover, #info-button:active {
  color:#ffffff;
}

/*centering the progress bar*/
#progress2 {
    width: 150px;
    margin-left: -20px;

}

.progress1 {
    vertical-align: middle;
    margin: auto;

}
 /*reminder system text style*/
#reminder-text {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#545454;
  text-transform: uppercase;
  font-size: 70px;
  margin:-15px;
}

#reminder-md-text {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#4A90E2;
  text-transform: uppercase;
  font-size: 100px;
  margin:-20px;
}

#reminder-btm-text {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#F7AD3A;
  font-size: 40px;
  text-transform: lowercase;
  margin:-20px;
}

#btm-text {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#545454;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  margin:20px;
}

/*.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}*/