/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

h1, h2, h3, h4, h5 {
	color: #575757;
}

.bg-color {
  background-color: #FAFAFA;
}


.w3-top {
  background-color: #4990E2;
}

.icon-color {
  background-color: #4990E2;
}

#txt {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575757;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#thisdate{ 
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#cname { 
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #4990E2;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.top-center{ 
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-size: 20px;
}

#mySidenav {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575757;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

#text-design {
  font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #575757;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.anagram {
	width: 999999;
}

.friend {
	display: inline-block;
/*	width: 100%; */
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}